<!--The content below is only a placeholder and can be replaced.-->
  <nav>
    <div id="dashboard" class="nav-wrapper nav-wrapper-dashboard">
      <a href="#" class="brand-logo">Rapid-Serve</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="dashboard"   routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="createticket"  routerLinkActive="active">Create Ticket</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
