<div style="color:#ee6e73;" class="container-ticket">
  <form class="col s4">
    <h5 style="font-weight: bold">Ticket : {{ticketId}}</h5>
    <h6 style="padding:20px">Customer Name : {{currentTicket.customerName}}</h6>
    <h6 style="padding:20px">Contact : {{currentTicket.contact}}</h6>
    <h6 style="padding:20px">Status : {{currentTicket.status}}</h6>
    <h6 style="padding:20px">Address : {{currentTicket.address}}</h6>
    <h6 style="padding:20px">Assigned To : {{currentTicket.assignedTo}}</h6>
  </form> 
  <a routerLink="/dashboard"  routerLinkActive="active" class="waves-effect waves-light btn"><i class="material-icons">arrow_back</i></a>
  <a routerLink="/editTicket"  routerLinkActive="active" class="waves-effect waves-light btn"><i class="material-icons">edit</i></a>
  

<div>