/* You can add global styles to this file, and also import other style files */
.container-admin-grid {
    float:left;
    margin-top: 10px;
    margin-left:20px;
    max-width: 1280px;
    width: 60%;
    padding:5px;
}

.container-assign-ticket{
    float:left;
    margin:5px;
    background-color:#ffebee;
    border-color:#424242;
    border-radius: 3px;
    width: 100%;
    padding:5px;
    height:100%;
}

html, body, #assign-window {
    height: 100%;
    width: 100%;
    margin: 0;
}
 

.font-color {
   color:white;
}

.rcorners-teal {
    border-radius: 15px;
    background: #009688;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}

.rcorners-blue {
    border-radius: 15px;
    background: #01579b;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}

.rcorners-red {
    border-radius: 15px;
    background: #e53935;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}

.actionbtn {
    display: inline-block;
    border-radius: 15px;
    background-color: #4caf50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 6px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 30px; 
  }

  .actionbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .actionbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .actionbtn:hover span {
    padding-right: 15px;
  }

  .actionbtn:hover span:after {
    opacity: 1;
    right: 0;
  }