/* You can add global styles to this file, and also import other style files */
.container-admin-grid {
    float:left;
    margin-top: 10px;
    margin-left:20px;
    max-width: 1280px;
    width: 60%;
    padding:5px;
}

.font-color {
   color:white;
}

.rcorners-teal {
    border-radius: 15px;
    background: #009688;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}

.rcorners-blue {
    border-radius: 15px;
    background: #01579b;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}

.rcorners-red {
    border-radius: 15px;
    background: #e53935;
    color:white;
    padding: 5px; 
    width: 120px;
    height: 30px; 
    text-align:center;
}